DATABASE_HOST=
DATABASE_USER=
PASSWORD=
DATABASE_PORT=1521
DATABASE_SERVICE=
DATABASE_SCHEMA=
SERVER_IP=
SERVER_PORT=9600
DASHBOARD_PORT=3303
ORACLE_CLIENT_LIB_DIR=
PATH_EXE_BOTAO=
PATH_RECEPTOR=
DNS_SERVER=
SECRET_KEY=
